.App {
  text-align: center;
  background-color: cadetblue;
}



.App-header {
  /* position: absolute; */
  height: 200px;
  background-color: rgb(18, 76, 78);
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  /* position: absolute; */
  left: 0px;
  top: 0px;
  /* bottom: 0px; */

}

.App-link {
  color: #61dafb;
}

 #form{
  position: absolute;
  margin-top: 0;
  
} 
