.App {
  text-align: center;
  background-color: cadetblue;
}



.App-header {
   position: relative; 
  
  height: 200px;
  background-color: rgb(18, 76, 78);
  
  color: white;
}

.App-logo {
   position: absolute; 
  left: 0px; 
  top: -180px;  
  }

/* .App-link {
  color: #61dafb;
} */

 #form{
  position: absolute;
   top: 175px;
  z-index: 2;
  left: 800px; 
  
}

#record {
  /* position: absolute;
  left: 600px; */
  /* float: right; */
  height: 600px;
  width: 600px;
  z-index: 3;

}

#recordcontainer {
  /* position: relative; */
  /* left: 600px; */  
  /* margin: auto; */
  background-color: #0a0a0a;
  width: 600px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;

  -ms-overflow-style: none;  
  scrollbar-width: none;  

}

#recordimage {
  height: 600px;
  width: 600px;
}

#artistcontainer {
  position: relative;
  top: 0px;
  left: 0px;
  height: 500px;
  width: 1945px;
  background-color: rgb(35, 58, 73);
}

#artistimage {
  height: 100px;
  width: 100px;
  border-radius: 25px;

}

#genre{
  display: inline-block;
    margin-right: 20px;
    position: relative;  
    color: white;
    /* left: 0px;
    top: 50px; */
  height: 200px;
  width: 200px;
 /* position: absolute; 
 top: 250px;
 left: 650px; */
  
}

#genrerecords{
  position: absolute;
  top: 250px;
  left: 650px;
}

#recordinfo{
  position: absolute;
  top: 100px;
  left: 700px;
  height: 300px;
  width: 900px;
  background-color: aquamarine;
  z-index: 1;
}

#infoimage{
  height: 100px;
  width: 100px;
}

.hidden {
visibility: hidden;
}

.nothidden {
visibility: visible;
}

#artisttitle{
  position: absolute;
  right: 350px;

}

#artistimage{
  position: absolute;
  right: 200px;
  top: 60px;
  height: 600px;
  width: 600px;

}